<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>MyPiggyBank</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container">

                <img src="/assets/images/iconpiggy.png">


                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex justify-content-end w-75">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">contact Us </a>
                        </li>

                    </ul>
                    <!-- <button type="button" class="btn-close" aria-label="Get Started"></button> -->
                    <form class="d-flex" role="search">
                        <button class="btn btn-outline-success" type="submit">Get Started</button>
                    </form>
                </div>

            </div>
        </nav>

        <div class="mission">

        <div class="card-mission">
            <h1>A mission that matters</h1>
        </div>
        <div class="card-shine">

            <p>Shine a light on the world of money for families and empower parents to raise financially-smart kids.We believe every child should have the opportunity to become financially healthy and happy.Together,we work relentlessly to make that vision a reality.Join us on the journey. </p>

        </div>
    </div>
<div class="container1">
    <!-- <div class="row-1"> -->
        <div class="img2">
            <img class="daddad" src="../../assets/images/dad-and-son.png">
        </div>
        <div class="text7">
            For parents who want to teach their kids financial responsibility and independence, our wallet app for kids provides an easy-to-use and secure platform that allows children to manage their money, track their spending, and learn valuable financial skills. With features like allowance management, savings goals, and spending limits, our app gives parents peace of mind while empowering their kids to make smart financial decisions. Our app is designed specifically for kids ages 13-17 and is easy for them to use and understand, with colorful graphics features that make learning about money fun and engaging. With our app, parents can give their kids the gift of financial literacy and set them up for a lifetime of financial success .   
        </div>
        </div>
    </div>
    
    <div class="row-3">
        <div class="col-3">
            <img class="mission-rocket" src="../../assets/images/icon-rocket.png">
            <h1>Mission</h1>
            <p>simplifying Lives Digitally</p>
        </div>

        <div class="col-3">
            <img class="vision-eye" src="../../assets/images/icon-eye.png">
            <h1>Vision</h1>
            <p>To be a trusted provider of quality and affordable digital solutions</p>
        </div>

        <div class="col-3">
            <img class="focus-focus" src="../../assets/images/icon-focus.png">
            <h1>Focus</h1>
            <p>Provision of affordable state of the art IT solutions for african financial market</p>
        </div>
    </div>
       
       
          <!-- <footer>
            <img src="/assets/images/iconpiggybank.png">
            <p>Raise financially-smart kids.</p>
            
            <div class="cardgoogle">
                <img src="/assets/images/icongoogle.png">
                <p>Available on Google playstore</p>
                <p>All rights reserved for piggybank 2023</p>
            </div> -->
            <!-- <div class="row2">
                <div class="col2">
                
                    <img src="/assets/images/iconpiggy.png">
                    <p class="text-uppercase mb-4 font-weight-bold text-white">Raise financially-smart kids.</p> 
                     
                    <img src="/assets/images/icongoogle.png">
                    <p class="text-uppercase mb-4 font-weight-bold text-white">Available on Google playstore</p>  
                </div>
                <div class="col2">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning text-white">Features</h5>
                    <p class="text-uppercase mb-4 font-weight-bold text-white">send money</p>
                    <p class="text-uppercase mb-4 font-weight-bold text-white">Request money</p>
                    <p class="text-uppercase mb-4 font-weight-bold text-white">Lipa na M-pesa</p>
                    <p class="text-uppercase mb-4 font-weight-bold text-white">Buy airtime</p>   
    
                </div>
                <div class="col2">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning text-white">Who are we</h5>
                    <p class="text-uppercase mb-4 font-weight-bold text-white">Vision: To be a trusted provider of quality And afordable solutions</p>
                    <p class="text-uppercase mb-4 font-weight-bold text-white">Mission: simplifying lives digitally</p>
    
    
                </div>
                <div class="col2">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning text-white">Quick links</h5>
                                <p class="text-uppercase mb-4 font-weight-bold text-white">Home</p>
                                <p class="text-uppercase mb-4 font-weight-bold text-white">About us</p>
                                <p class="text-uppercase mb-4 font-weight-bold text-white">Contact us</p>
                </div>
    
            </div> -->
            <div class="row2">
                <div class="col2">
                
                    <img src="/assets/images/iconpiggy.png">
                    <p class="text-uppercase mb-4 font-weight-bold text-white">Raise financially-smart kids.</p> 
                     
                    <img src="/assets/images/icongoogle.png">
    ,                <p class="text-uppercase mb-4 font-weight-bold text-white">Available on Google playstore</p>  
                </div>
                <div class="col2">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning text-white">Features</h5>
                    <!-- <p class="text-uppercase mb-4 font-weight-bold text-white">send money</p> -->
                    <button class="btn sendmoney"(click)="onContinue()"> Send Money</button>
                    <!-- <p class="text-uppercase mb-4 font-weight-bold text-white">Request money</p> -->
                    <button class="btn requestmoney"(click)="onNext()"> Request Money</button>
                    <!-- <p class="text-uppercase mb-4 font-weight-bold text-white">Lipa na M-pesa</p> -->
                    <button class="btn lipanampesa"(click)="onCommand()"> Lipa na M-Pesa</button>
                    <!-- <p class="text-uppercase mb-4 font-weight-bold text-white">Buy airtime</p>    -->
                    <button class="btn airtime "(click)="onStart()"> Airtime</button>
    
                </div>
                <div class="col2">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning text-white">Who are we</h5>
                    <p class="text-uppercase mb-4 font-weight-bold text-white">Vision: To be a trusted provider of quality And afordable solutions</p>
                    <p class="text-uppercase mb-4 font-weight-bold text-white">Mission: simplifying lives digitally</p>
    
    
                </div>
                <div class="col2">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning text-white">Quick links</h5>
                                <p class="text-uppercase mb-4 font-weight-bold text-white">Home</p>
                                <p class="text-uppercase mb-4 font-weight-bold text-white">About us</p>
                                <p class="text-uppercase mb-4 font-weight-bold text-white">Contact us</p>
                </div>
    
            </div>
    
</body>
</html>
    
      
            
        

          


          



        

