<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <div class="container">
        <form class="form-control">
            <label class="form-label" for="username"></label>
            <input type="text" name="username" placeholder="username" class="form-control" [(ngModel)]="username">
    
            <label class="form-label" for="email"></label>
            <input type="text" name="email" placeholder="Enter email" class="form-control">
            
            <label class="form-label" for="phonenumber"></label>
            <input type="text" name="phoneNo" placeholder="Enter phone no Digits (0-9, *, #, +) 10-13" class="form-control">
        
            <label class="form-label" for="idnumber"></label>
            <input type="text" name="Idnumber" placeholder="Enter idnumber(0-9, *, #, +) 10-13" class="form-control">
    
            <label class="form-label" for="DOB"></label>
            <input type="text" name="DOB" placeholder="Enter  Digits (0-9, *, #, +) 10-13" class="form-control">
           
        </form>
    </div>
    <button type="submit" class="form-control btn btn-outline-success">Submit</button>
    </body>
</html> -->
