<!-- <!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>MyPiggyBank</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container">

                <img src="/assets/images/iconpiggybank.png">


                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex justify-content-end w-75">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">contact Us </a>
                        </li>

                    </ul>
                    <form class="d-flex" role="search">
                        <button class="btn btn-outline-success" type="submit">Get Started</button>
                    </form>
                </div>
                <nav> -->
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>MyPiggyBank</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    <nav class="navbar navbar-expand-lg bg-light">

        <img src="/assets/images/iconpiggy.png">


        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex justify-content-end w-75">
                <li class="nav-item1">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">contact Us </a>
                </li>

            </ul>
            <form class="d-flex" role="search">
                <button class="btn btn-outline-success" type="submit">Get Started</button>
            </form>
        </div>
    </nav>
    <div class="office1">
        <div class="textoffice1">
            <h1>Lets work together</h1>
            <p>At piggybank, we take time to think and plan; to weigh down things, to consider and to forecast. Then,
                with inventiveness that is birthed by great skills, we are aligned in pursuit to ‘simplify lives
                digitally’. We embrace the principle of developing an in-depth understanding of our client’s needs by
                keenly listening to their stories, needs and requirements. We listen to you and blend your needs,
                concerns and requirements.</p>
        </div>

        <div class="imageoffice1">
            <img src="/assets/images/office-phone.png" height="442px" width="112%"
            >
        </div>

    </div>

   
    <div class="row3">
        <div class="col1">
            <h1>We’d like to hear from you</h1>
            <p> <img src="/assets/images/iconmail.png">talktous@eclectics.io</p>
            <p> <img src="/assets/images/iconcall.png">+254 712 345 678</p>
            <p> <img src="/assets/images/iconcall.png">+254 798 654 321</p>
        </div>

        <div class="col1">
            <div class="form-group">
                <label for="name"></label>
                <input type="text" id="txt" name="name" placeholder="Name" required>
                />
                <!-- [(ngModel)]="loginObj.name" -->
            </div>

            <div class="form-group">
                <label for="emailaddress"></label>
                <input type="text" id="txt" name="emailaddress" placeholder="emailaddress" required>
                />
            </div>
            <div class="form-group">
                <label for="phonenumber"></label>
                <input type="text" id="num" name="phonenumber" placeholder="phonenumber" required>
                />
            </div>
        </div>



    </div>

    <div class="row2">
        <div class="col">

            <img src="/assets/images/iconpiggy.png">
            <p class="text-uppercase mb-4 font-weight-bold text-white">Raise financially-smart kids.</p>

            <img src="/assets/images/icongoogle.png">
            <p class="text-uppercase mb-4 font-weight-bold text-white">Available on Google playstore</p>
        </div>
        <div class="col">
            <h5 class="text-uppercase mb-4 font-weight-bold text-warning text-white">Features</h5>
            <p class="text-uppercase mb-4 font-weight-bold text-white">send money</p>
            <p class="text-uppercase mb-4 font-weight-bold text-white">Request money</p>
            <p class="text-uppercase mb-4 font-weight-bold text-white">Lipa na M-pesa</p>
            <p class="text-uppercase mb-4 font-weight-bold text-white">Buy airtime</p>

        </div>
        <div class="col">
            <h5 class="text-uppercase mb-4 font-weight-bold text-warning text-white">Who are we</h5>
            <p class="text-uppercase mb-4 font-weight-bold text-white">Vision: To be a trusted provider of quality And
                afordable solutions</p>
            <p class="text-uppercase mb-4 font-weight-bold text-white">Mission: simplifying lives digitally</p>


        </div>
        <div class="col">
            <h5 class="text-uppercase mb-4 font-weight-bold text-warning text-white">Quick links</h5>
            <p class="text-uppercase mb-4 font-weight-bold text-white">Home</p>
            <p class="text-uppercase mb-4 font-weight-bold text-white">About us</p>
            <p class="text-uppercase mb-4 font-weight-bold text-white">Contact us</p>
        </div>

    </div>



</body>

</html>