<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <div class="container">
        <form class="form-control">
            <label class="form-label" for="phonenumber"></label>
            <input class="form-control" type="text" placeholder="Enter phone no Digits (0-9, *, #, +) 10-13">
        
            <label class="form-label" for="amount"></label>
            <input class="form-control" type="text" placeholder="Enter Amount Digits (0-9, *, #, +) 10-13">
        
            <label class="form-label" for="pin"></label>
            <input class="form-control" type="text" placeholder="Enter Pin">
            
        </form>
        <button type="submit" class="form-control btn btn-outline-success">OK</button>

    </div>
    
</body>
</html>
